body{
	margin: 0;
	padding: 0;
	background-color: #BDBDBD;
}
.container{
	width: 400px;
	min-height:466px;
	background-color: #424242;
	margin:auto;
}
header{
	min-height: 50px;
	background-color: #610B21;
	color: white;
}
header h1{
	text-align: center;
	padding-top: 5px;
}
section.game{
	min-height: 350px;
}
section.game li{
	list-style: none;
	display: block;
	width: 100px;
	height: 100px;
	float: left;
	background-color: #BDBDBD;
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 80px;
	text-align: center;
}
section.game li:hover{
	cursor: pointer;
	color: #F6CED8;
}
footer{
	min-height: 50px;
	background-color: #1C1C1C;
}
#reset{
	width: 150px;
	height: 30px;
	text-align: center;
	position: relative;
	left:123px; 
	top: 10px;
	border:none;
	background-color: #BDBDBD;
	font-size: 20px;
}
#reset:hover{
	cursor: pointer;
	color: #F6CED8;
	border:2px solid #F6CED8;
}
.red{
	color: #01DF3A;
	cursor: none;
}
.green{
	color: #FE2E2E;
	cursor: none;
}

